{% extends '_base.html' %}
{% load static %}
{% block title %}Create Service{% endblock title %}

{% block content %}

        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto ">
                    
                    
                    <form method="post" action="" class="form-control mt-5 ">
                        {% csrf_token %}
                        <div class="text-center border-bottom mb-3">
                            <h2>Add a Service</h2>
                        </div>
                        <div class="form-group" >
                            <label class="form-text" for="id_service_title"><h5>Service title: </h5></label>
                            <input class="form-control" type="text" name="service_title" maxlength="255" required="" id="id_service_title">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-text" for="id_description"><h5>Description:</h5></label>
                            <textarea class="form-control" name="description" cols="40" rows="5" id="id_description"></textarea>
                        </div>
                        <div class="form-group mb-5">
                            <label class="form-text" for="id_image"><h5>Image:</h5></label>
                            <input class="form-control form-control-sm" type="file" name="image" accept="image/*" id="id_image">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-dark mb-5">Confirm</button>
                        </div>
                        
            
                    </form>
    
                    
                </div>
                
                
    
            </div> 
        </div>

{% endblock content %}
