{% extends '_base.html' %}
{% load static %}
{% block title %}Create Service{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 mx-auto align-self-center mt-5">
            <h1 class="text-center mb-3">Update Service</h1>
            <div class="container">
                <div class="form-control">
                    <form  action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-text" for="id_service_title"><h5>Service Title:</h5></label>
                            <input class="form-control" type="text" name="service_title" value="{{object.service_title}}" maxlength="255" required id="id_service_title">
    
                        </div>
                        <div class="form-group">
                            <label class="form-text" for="id_description"><h5>Description:</h5></label>
                            <textarea class="form-control" name="description" cols="40" rows="10" id="id_description">{{object.description}}</textarea>
    
                        </div>
                        <div class="mb-3 form-control mt-3">
                            <label for="formFileSm" class="form-label mt-3">Upload Icon file</label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                          </div>
                        <div class="text-center">
                            <button class="btn btn-dark mt-3 mb-3 " type="submit">Confim</button>
                        </div>
                        
                    </form>
                    
                    
                    
                    

                </div>
                
            </div>
           
           
        </div>

    </div>
    
</div>

{% endblock content %}
