<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Booysen Attorneys</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

              
              <li class="nav-item">
                  <a class="nav-link ms-5" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              
              
          </ul>
          <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}

              <li nav-item>
                  <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>

              </li>
              {% else %}
              <li nav-item>
                  <a class="nav-link" href="{% url 'account_login' %}">Log In</a>

              </li>
              
              <li nav-item>
                  <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>

              </li>
              {% endif %}
          </ul>
        </div>
  </div>
</nav>
