{% extends '_base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}
{% block content %}
<div class="container mt-5">

    <div class="row">
        <div class="container col-md-6 mt-5 align-self-center">
            <h1 class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero iure corrupti sequi fugit quos minus.</h1>


        </div>
        <div class="container col-md-6 mt-5 ">
            <img class="rounded-2" src="https://picsum.photos/575/450" alt="">
        </div>

    </div>
    
    <div class="row mt-5">
        <div class="container col-md-4 text-center mb-3">
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title"><strong>Meet Our Team</strong></h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, eveniet.</p>
                    <a href="{% url 'about' %}" class="btn btn-outline-dark">Read More</a>
    
    
                </div>
    
            </div>
    
        </div>
        <div class="container col-md-4 text-center mb-3">
            <div class="card">
                <div class="card-body bg-light">
                    <h5 class="card-title"><strong>Our Sevices</strong></h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, eveniet.</p>
                    <a href="{% url 'services' %}" class="btn btn-outline-dark">Read More</a>
    
    
                </div>
    
            </div>
    
        </div>
        <div class="container col-md-4 text-center mb-3">
            <div class="card" >
                <div class="card-body bg-light ">
                    <h5 class="card-title "><strong>Contact Us</strong></h5>
                    <p class="card-text ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, eveniet.</p>
                    <a href="{% url 'contact' %}" class="btn btn-outline-dark">Read More</a>
    
    
                </div>
    
            </div>
    
        </div>


    </div>
    


</div>


{% endblock content %}
